@use '../mixins' as *;

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    
    .persistant-bar {
        position: sticky;
        top: 0;
        z-index: 1000;
        
    }

}