@use '@/styles/mixins' as *;
@use '@/styles/variables.scss' as *;


.category {
    margin: 1.3rem auto;
    border-radius: 20px;
}

.products {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 75%;
    color: $color-dark-text;
    padding-block: 1.5rem;
    row-gap: 2rem;
    column-gap: 1.5rem;

    @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        row-gap: 3rem;
        column-gap: 2rem;
        padding-inline: 1rem;
    }
}