@use '@/styles/variables' as *;

.card-tab {
    width: 100%;
    height: 200px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.03);
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.8rem;
        color: white;
    }

    &__subtext {
        color: $color-primary;
        font-size: 1.6rem;
        line-height: 5rem;
        font-weight: 545;
    }
}